<div class="navbar-fixed">
	<nav class="top-nav">
	<div class="container">
		<div class="nav-wrapper">
		<a href="#" data-activates="mobile-demo" class="button-collapse top-nav full hide-on-large-only" style="margin-top: 30px; margin-left: 18px;"><i class="material-icons">menu</i></a>
		<a href="#" class="brand-logo left" style="padding-left:60px; margin-top: 10px;">Andrew Nagle</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li class="active"><a href="#home">Home</a></li>
	        <li><a href="#contact">Contact</a></li>
	        <li><a href="#projects">Projects</a></li>
	        <li><a href="#skills">Skills</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
		    <li class="active"><a href="#home">Home</a></li>
		    <li><a href="#contact">Contact</a></li>
		    <li><a href="#projects">Projects</a></li>
		    <li><a href="#skills">Skills</a></li>
		</ul>
		</div>
	</div>
	</nav>
</div>

